page-relayout-viewer {
  ion-row {
    padding-top: 10px;
  }
  .card-md {
    margin: 0px;
    width: 100%;
    background-color: transparent;
  }
  .item-md {
    background: linear-gradient(grey, black 15px);
  }
}
